<div class="container">
	<div class="row wine">
		
		<div class='bottle'>

			<img src="https://cloud.githubusercontent.com/assets/7833470/10892244/288afc2c-8157-11e5-8ae6-5a9e1c5ce6ac.jpg" alt="Wine Image">

		</div>

		<div class='info'>

			<h3>Wine Name</h3>

			<ul>

				<li>Wine country or something</li>
				<li>Wine type or something</li>
				<li>Wine makers or something</li>
				<li>Wine review or something</li>

			</ul>

			<button>DEL</button>
			<button>EDIT</button>

		</div>

		<div class="cart-container">

			<h4 class="cart-item">Quantity: 3</h4>
			<h4 class="cart-item">Price: $64.99</h4>
			<button class="cart-item">ADD</button>

		</div>

	</div>
</div>